@import "tailwindcss";
@layer base {
  div {
    border-style: none;
  }
}

#canvas-container {
  width: 100vw;
  height: 100vh;
}

#leva__root {
  position: absolute;
  z-index: 10000000;
}

/* Fonts */
@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono/RobotoMono-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono/RobotoMono-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono/RobotoMono-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono/RobotoMono-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono/RobotoMono-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono/RobotoMono-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono/RobotoMono-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}

@theme {
  --font-roboto: "Roboto Mono", sans-serif;
}

@theme {
  --animate-slide-up: slideUp 0.5s ease-out;
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translate(0px, 8px);
    }
    ,
    100% {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
}
